.red-focus {
    color: white !important;
    &:hover {
        color: red !important;
    }
}
.hvh {
    height: 60vh;
    object-fit: cover;
}
.hero {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.7);
    z-index: 10;
    color: white;
    padding: 0px;
    padding-top: 170px;
}
.what-we-do {
    padding: 100px 50px;
}
.portfolio {
    padding-top: 80px;
    padding-bottom: 80px;

    h2 {
        text-align: center;
    }
}

.record {
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    h2 {
        margin-bottom: 70px;
    }
}
.contact-us {
    padding-top: 50px;
    padding-bottom: 50px;
    ul {
        list-style-type: none;
        a {
            text-decoration: none;
        }
    }
}
.footer {
    color: white;
    padding: 50px 50px;
    text-align: center;
}